{% load static %}
<section class="padding_bottom_100 padding_top_100 coa_section">
    <div class="container">
        <div class="section_heading text-center">
            <h2 class="secondary_font color_000 margin_bottom_15 aos-init aos-animate" data-aos-duration="800" data-aos="zoom-in-up">
                Get in Touch With o2 Infosystems
            </h2>
            <p data-aos="zoom-in-up" class="aos-init aos-animate">
                Whether you’re interested in partnering with us or need more information about our services, we’re here to assist. <br>
                For Inquiries: <a href="tel:+91-880-230-2413" class="coa_contact aos-init aos-animate" data-aos-duration="1000" data-aos="zoom-in-up">+91-880-230-2413</a>
            </p>
            <a href="{% url 'otleads.contact_us' %}" class="btn_success_story aos-init aos-animate" data-aos-duration="1200" data-aos="zoom-in-up">
                Contact Us
            </a>
        </div>
    </div>
</section>


<!--Footer Section-->
<section class="padding_top_100 padding_bottom_100 bg_5d088e text-center">
    <div class="container">
        <div class="footer04_copyright margin_bottom_55">
            Copyright © 2024 <a href="www.o2infosystems.com" class="color_fff">o2 Infosystems</a> All Rights Reserved
        </div>
        
        <div class="row footer04_contact_info_box">
            <div class="col-xl-4 col-lg-4 col-md-4 padding_top_20 padding_bottom_20 footer04_contact_box01 text-left">
                <div class="font_size_14 line_height_24 color_fff">
                    H-1A/20, First Floor, Sector -63, NOIDA – 201301, UP
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 padding_top_20 padding_bottom_20 footer04_contact_box02 text-left">
                <div class="font_size_14 line_height_24 color_fff">
                    Phone: <a href="tel:+0-120-318-3580" class="color_fff">0-120-3180-3580</a>
                </div>
                <div class="font_size_14 line_height_24 color_fff">
                    Help: <a href="tel:+91-880-230-02413" class="color_fff">+91-880-230-2413</a>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 padding_top_20 padding_bottom_20 footer04_contact_box03 text-left">
                <div class="font_size_14 line_height_24 color_fff">
                    <a href="mailto:support@o2infosystems.com" class="color_fff">support@o2infosystems.com</a>
                </div>
                <div class="font_size_14 line_height_24 color_fff">
                    <a href="mailto:info@o2infosystems.com" class="color_fff">info@o2infosystems.com</a>
                </div>
            </div>
        </div>

        <div class="row hide_on_mobile footer04_box">
            <!-- Quick Links -->
            <div class="col-xl-4 col-lg-4 col-md-4 footer_links01 hide_on_tablet text-left">
                <h5 class="footer_heading">Quick Links</h5>
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <ul class="footer03_links">
                            <li><a href="cloud_hosting.html">Cloud Hosting</a></li>
                            <li><a href="telecom_services.html">Telecom Services</a></li>
                            <li><a href="design_services.html">Design & Development</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-6 col-lg-12 text-left col-md-12">
                        <ul class="footer03_links">
                            <li><a href="ivr_solutions.html">IVR Solutions</a></li>
                            <li><a href="lead_generation.html">Leads Generation</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Social Links -->
            <div class="col-xl-4 col-lg-4 col-md-4 footer_links02 hide_on_tablet text-left">
                <h5 class="footer_heading">Follow Us</h5>
                <div class="row">
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <ul class="footer03_social_links">
                            <li><i class="fab fa-facebook-f"></i><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                            <li><i class="fab fa-twitter"></i><a href="https://www.x.com/" target="_blank">X</a></li>
                            <li><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <ul class="footer03_social_links">
                            <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                            <li><i class="fab fa-youtube"></i><a href="https://www.youtube.com/" target="_blank">YouTube</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- About o2infosystems -->
            <div class="col-xl-4 col-lg-4 col-md-12 footer03_content_box footer04_content_box text-left">
                <h5 class="footer_heading">About o2infosystems</h5>
                <p>
                    IT Company providing full range of IT and Telecom services. The Company is based in NOIDA (Delhi NCR) and is established with the intent to provide all customers with a sustainable competitive advantage by offering cost effective business solutions.
                </p>
            </div>
        </div>
    </div>
</section>

<!--Ends Here-->
